/* You can add custom style here */
@media (max-width: 600px) {
  :root {
      --container-width: 90vw !important;
  }
  body {
      width: 90vw;
      margin-left: 5vw;
      margin-right: 5vw;
  }
}
:root {
  --bg-h: 30 !important;
  --bg-s: 5% !important;
  --bg-l: 99% !important;
}

pre, code {
  white-space: pre-wrap !important;        /* wrap text like normal, preserve line breaks */
  word-wrap: break-word !important;        /* legacy, break long words if needed */
  overflow-wrap: break-word !important;    /* modern alternative */
  margin: 0 auto;
}
